<div id="uslugi_page">
        <div>
            <table>
                <tr>
                    <td>
                        <ul style="display: block" class="lpu_types">
                            <li class="lpu_class">
                                <span>Диагностика</span>
                            </li>
                            <li>
                                <a href="/kazan/diagnostika/uzi/">УЗИ</a>
                                <span class="cnt"> 155</span>
                            </li>
                            <li>
                                <a href="/kazan/diagnostika/kt/">КТ</a>
                                <span class="cnt"> 17</span>
                            </li>
                            <li>
                                <a href="/kazan/diagnostika/mrt/">МРТ</a>
                                <span class="cnt"> 16</span>
                            </li>
                            <li>
                                <a href="/kazan/diagnostika/rentgen/">Рентген</a>
                                <span class="cnt"> 51</span>
                            </li>
                            <li>
                                <a href="/kazan/diagnostika/fd/">Функциональная диагностика</a>
                                <span class="cnt"> 133</span>
                            </li>
                            <li>
                                <a href="/kazan/diagnostika/endoskopiya/">Эндоскопия</a>
                                <span class="cnt"> 76</span>
                            </li>
                            <li class="lpu_class">
                                <span>Лечение</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul style="display: block" class="lpu_types">
                            <li>
                                <a href="/kazan/uslugi/otorinolaringologicheskie-uslugi/">Оториноларингологические услуги</a>
                                <span class="cnt"> 9</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/massazh/">Массаж</a>
                                <span class="cnt"> 88</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/stomatologiya/">Стоматологические услуги</a>
                                <span class="cnt"> 123</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/kosmetologiya/">Косметологические услуги</a>
                                <span class="cnt"> 83</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/ginekologicheskie-uslugi/">Гинекологические услуги</a>
                                <span class="cnt"> 87</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/lechenie-glaz/">Лечение глаз</a>
                                <span class="cnt"> 14</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/privivki/">Прививки</a>
                                <span class="cnt"> 33</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/proktologicheskie-uslugi/">Проктологические услуги</a>
                                <span class="cnt"> 7</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/fizioterapiya/">Физиотерапия</a>
                                <span class="cnt"> 50</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul style="display: block" class="lpu_types">
                            <li>
                                <a href="/kazan/uslugi/otorinolaringologicheskie-uslugi/">Оториноларингологические услуги</a>
                                <span class="cnt"> 9</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/massazh/">Массаж</a>
                                <span class="cnt"> 88</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/stomatologiya/">Стоматологические услуги</a>
                                <span class="cnt"> 123</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/kosmetologiya/">Косметологические услуги</a>
                                <span class="cnt"> 83</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/ginekologicheskie-uslugi/">Гинекологические услуги</a>
                                <span class="cnt"> 87</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/lechenie-glaz/">Лечение глаз</a>
                                <span class="cnt"> 14</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/privivki/">Прививки</a>
                                <span class="cnt"> 33</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/proktologicheskie-uslugi/">Проктологические услуги</a>
                                <span class="cnt"> 7</span>
                            </li>
                            <li>
                                <a href="/kazan/uslugi/fizioterapiya/">Физиотерапия</a>
                                <span class="cnt"> 50</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>